@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

.header {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3032;
  border-bottom: 1px solid grey;
}

.chat-status {
  position: absolute;
  left: -30px;
  top: 5px;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  cursor: default;
}

.chat-status_online {
  background-color: lightgreen;
}

.chat-status_offline {
  background-color: red;
}

.header__welcome {
  padding: 10px 30px;
  color: rgb(245, 237, 237);
  font-family: 'Handlee', cursive;  
}

.welcome__name {
  color: burlywood; 
}

.header__logout {
  position: relative;
  display: flex;
  margin-right: 15px;
  margin-left: auto;
  color: rgb(245, 237, 237);
  cursor: pointer;
}

.logout__img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.welcome__login_mobile {
  font-size: 0;
}

@media (max-width: 1000px), (max-height: 400px) {
  .header__welcome {
    font-size: 0;
  }

  .welcome__name {
    font-size: 18px;
  }

  .welcome__login_mobile {
    font-family: 'Handlee', cursive; 
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .logout__img {
    display: none;
  }

  .header__welcome {
    padding: 5px;
  }

  .header__logout {
    margin: 0 5px;
  }
}

@media (max-width: 330px) {
  .welcome__name {
    display: none;
  }
}

@media (max-height: 300px) {
  .welcome__login_mobile {
    font-size: 16px;
  }

  .logout__img {
    display: none;
  }

  .welcome__name {
    font-size: 16px;
  }
}